<app-header></app-header>

<div class="container">
  <br >
  <div class="row">
    <div class="col-sm-2">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" style="font-weight: bold">
          Form
        </a>
        <a routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action">Input Paket Barang</a>
        <a routerLink="/acara" routerLinkActive="active" class="list-group-item list-group-item-action">Tanda Terima Paket Barang</a>
        <a class="list-group-item list-group-item-action" style="font-weight: bold">
          Paket Barang
        </a>
        <a routerLink="/paket" routerLinkActive="active" class="list-group-item list-group-item-action">List Paket Barang</a>
      </div>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>