<h4>Paket Barang</h4>
<div class="card">
	<div class="header">
	<a href="paket/add" class="btn btn-success pull-right" >Add Paket</a>	
		<h4 class="title">Paket Pengiriman</h4>
		<p class="category">List Data Paket Pengiriman</p>
	</div>
	<style type="text/css">
		input[type="search"] {
			border: 1px solid #66615b !important;
		}
	</style>
	<div class="content table-responsive">
		<table id="myTable" class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>NoResi</th>
					<th>Cabang Tujuan</th>
					<th>Nama Barang</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let paket of pakets">
					<td>{{ paket.IDPaket }}</td>
					<td>{{ paket.no_resi }}</td>
					<td>{{ getNamaCabang(paket.IDCabang) }}</td>
					<td>{{ paket.nama_paket }}</td>
					<td>
						<a href="paket/update/{{ paket.IDPaket }}" class="btn btn-success btn-fill"><i class="ti-pencil"></i></a>
						<button (click)="doDeleteBarang(paket.IDPaket)" class="btn btn-danger btn-fill"><i class="ti-trash"></i></button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>